---
import "@/styles/global.css";
import Layout from "@/layouts/main.astro";
import { getImage } from "astro:assets";

// Components
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import Marquee from "@/components/Marquee.astro";
import Gallery from "@/components/Gallery.astro";
import ContactForm from "@/components/ContactForm.astro";
import Footer from "@/components/Footer.astro";

// Assets
import logo from "@/assets/wassi_logo_no_bg.png";
import heroImage from "@/assets/hero_image.jpg";

// Gallery Images
import GalleryImage1 from "@/assets/gallery/gal1.jpg";
import GalleryImage2 from "@/assets/gallery/gal2.jpg";
import GalleryImage3 from "@/assets/gallery/gal3.jpg";
import GalleryImage4 from "@/assets/gallery/gal4.jpg";
import GalleryImage5 from "@/assets/gallery/gal5.jpg";
import GalleryImage6 from "@/assets/gallery/gal6.jpg";

const galleryImages = [
  GalleryImage1,
  GalleryImage2,
  GalleryImage3,
  GalleryImage4,
  GalleryImage5,
  GalleryImage6,
];

// Vendor Images
import Alfa from "@/assets/vendors/alfa.png";
import Challenger from "@/assets/vendors/challenger_designs.png";
import DeltaHeat from "@/assets/vendors/delta_heat.png";
import Napoleon from "@/assets/vendors/napoleon_prestiege.png";
import TwinEagles from "@/assets/vendors/twin_eagles.png";

const vendors = [Alfa, Challenger, DeltaHeat, Napoleon, TwinEagles];
---

<Layout 
  title="Wassis' Outdoor Kitchens | Custom Outdoor Living Space Coast"
  description="Transform your backyard with Wassis' Outdoor Kitchens. We specialize in custom outdoor kitchens, premium grills, and expert installation serving the Space Coast and Melbourne, FL."
>
  <Navbar logo={logo} />

  <main>
    <Hero heroImage={heroImage} />

    <Marquee vendors={vendors} />

    <Gallery images={galleryImages} />

    <ContactForm />
  </main>

  <Footer />
</Layout>
