---
import "@/styles/global.css";
import Layout from "@/layouts/main.astro";
import { Image } from "astro:assets";
import Navbar from "@/components/navbar";
import logo from "@/assets/wassi_logo_no_bg.png";
import Hero from "@/components/hero";
import heroImage from "@/assets/hero_image.jpg";
import About from "@/components/about";
import aboutImage from "@/assets/about_image.jpg";
import Services from "@/components/services";
---

<Layout title=''>
  <main class='min-h-screen'>
    <Navbar client:load>
      <Image src={logo} alt='Wassi Logo' width={120} height={60} />
    </Navbar>
    <section id='home'>
      <Hero>
        <Image
          src={heroImage}
          alt='Outdoor Kitchen'
          class='object-cover w-full h-full brightness-[0.7]'
          priority
        />
      </Hero>
    </section>
    <section id='about' class='py-16 md:py-24'>
      <About>
        <Image
          src={aboutImage}
          alt='About section kitchen'
          width={600}
          height={800}
          class='object-cover rounded-lg'
        />
      </About>
    </section>
    <section id='services' class='py-16 md:py-24'>
      <Services />
    </section>
  </main>
</Layout>
